@page "/cars/{Id:int}";

<EntityForm TItem="Car" Id="@Id">
    <Rows>
        <div class="row">
            <div class="col-md-12">
                <RadzenFieldset Text="Детали">

                    <FormTextField @bind-Value="context.CarNumber"
                                   Label="Номер"
                                   Component="CarNumber" />

                    <FormEnumField @bind-Value="context.FuelType"
                                   Label="Топливо"
                                   TEnum="FuelType"
                                   Component="FuelType" />

                    <FormTextField @bind-Value="context.Note"
                                   Label="Примечание"
                                   Component="Note" />

                </RadzenFieldset>

            </div>
        </div>
    </Rows>
</EntityForm>

@code {
    [Parameter]
    public int? Id { get; set; }
}