@page "/terminals/{Id:int}";


<EntityForm TItem="Terminal" Id="@Id">
    <Rows>
        <div class="row">
            <div class="col-md-12">
                <RadzenFieldset Text="">
                    <FormTextField @bind-Value="context.Name"
                                   Component="Name"
                                   Label="Название"
                                   Required=true />

                    <FormTextField @bind-Value="context.Company"
                                   Label="Компания"
                                   Component="Company" />

                    <FormTextField @bind-Value="context.Address"
                                   Label="Адрес"
                                   Component="Address" />

                    <FormEnumField @bind-Value="context.FuelType"
                                   TEnum="FuelType"
                                   Label="Топливо"
                                   Component="FuelType" />

                    <FormTextField @bind-Value="context.GoogleMapsUrl"
                                   Label="Карта"
                                   Component="GoogleMapsUrl" />

                </RadzenFieldset>

                <RadzenFieldset>
                    <FormNoteField @bind-Value="context.Note"
                                   Component="Note" />
                </RadzenFieldset>

            </div>
        </div>
    </Rows>
</EntityForm>

@code {
    [Parameter]
    public int? Id { get; set; }
}