@page "/clients/{Id:int}";


<EntityForm TItem="Client" Id="@Id">
    <Rows>
        <div class="row">
            <div class="col-md-12">
                <RadzenFieldset Text="Детали">
                    <FormTextField @bind-Value="context.Name"
                                   Component="Name"
                                   Required=true />

                    <FormTextField @bind-Value="context.Country"
                                   Component="Country" />

                    <FormNoteField @bind-Value="context.Note"/>

                </RadzenFieldset>

            </div>
        </div>
    </Rows>
</EntityForm>

@code {
    [Parameter]
    public int? Id { get; set; }
}