@page "/"


<PageTitle>Home</PageTitle>

<div class="container-fluid p-0" style="position: relative">
    <div class="row no-gutters mx-n2">
 
    </div>
    <div class="row no-gutters mx-n2">
        <div class="col p-2">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.H6">List</RadzenText>
            </RadzenCard>
        </div>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}